.Projects {
  padding-left: 5%;
  padding-right: 5%;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.projects-container-inner {
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;

  @media only screen and (max-width: 600px) {
  }
}

.project {
  display: block;

  h3 {
    font-size: 30px;
  }
}

.billboard {

  padding-top: 120px;
  padding-bottom: 120px;
  h1 {
    font-weight: 500;
    font-size: 3.5em;
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -3px;
    text-align: center;
  }
}

.slider-button {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;

  &:nth-child(3) {
    margin-right: 20px;
  }
}

.selected {
  font-weight: bold;
  color: black;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  background: #ee4b00;
  padding: 50px;
  border: solid 1.5px black;
}

.project-container {
  width: 100%;
  max-width: 700px;
  margin-bottom: 24px;
}

.project-title {
  margin-bottom: 12px;
  display: block;
  text-transform: capitalize;
  font-weight: bold;
}
