.title {
  text-align: center;
  margin-bottom: 50px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  background: rgb(247, 247, 247);
  height: 100vh;
  position: relative;
  top: -33.5px;
  padding-top: calc(33.5px + 50px);
}

.projects-container-inner {
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
}
