.Projects {
  padding-left: 5%;
  padding-right: 5%;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.projects-container-inner {
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;

  @media only screen and (max-width: 600px) {
  }
}

.project {
  display: block;

  h3 {
    font-size: 30px;
  }
}

.billboard {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  //text-align: center;
  h1 {
    font-weight: 500;
    font-size: 3.5em;
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -3px;
    margin-bottom: 25px;
  }

  p {
    max-width: 1000px;
  }
}

.slider-button {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;

  &:nth-child(3) {
    margin-right: 20px;
  }
}

.selected {
  font-weight: bold;
  color: black;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

  gap: 50px;
  //background: #ff6b26;

  //border: solid 1.5px black;
  position: relative;
  transition: 0.2s ease-in-out;
}

.project-container {
  width: 100%;
  max-width: 700px;
  margin-bottom: 24px;
  z-index: 1;


  a {
    font-family: "Radley", serif;
    font-size: 18px;
  }

  .project-title {
    margin-bottom: 12px;
    display: block;
    text-transform: capitalize;
    font-weight: bold;
    display: block;
  }

  p {
    margin-bottom: 10px;
    &:last-child {
      font-weight: bold;
    }
  }
}

.read{
  margin-top: auto;
}

.project-type {
  background: rgb(87, 65, 255);
  color: white;
  text-align: center;
  width: fit-content;
  border-radius: 50px;
  padding: 2px 12px;
}

.left-hover {
  height: 100%;
  width: 100px;
  background: red;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
}

.left {
  transform: translateX(2px);
}

.type-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
