$mobileBreakPoint: 600px;

header {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: calc(1200px + 10%);
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
  transition: 0.5s ease-in-out;

  @media only screen and (max-width: $mobileBreakPoint) {
    opacity: 1 !important;
    flex-direction: column;
  }

  &:hover {
    opacity: 1 !important;
  }

  h1,
  h2 {
    display: inline-block;
  }

  h1 {
    margin-right: 1%;
  }

  .chat-bubble {
    background: #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2rem;
    width: fit-content;
    min-height: 38.5px;
    margin-top: 6px;
  }

  .chat-right {
    width: 100%;
    margin: auto 0;

    @media only screen and (max-width: $mobileBreakPoint) {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.avatar {
  border-radius: 100%;
  min-height: 60px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2%;
  background: #37a0ec;
  background-size: 400% 400%;
  border: solid 1px #0085e5;
  box-shadow: 0px 0px 10px 2px #0085e5;
  animation: glow 2s ease infinite;

  @media only screen and (max-width: $mobileBreakPoint) {
    margin-bottom: 15px;
  }

  img {
    width: 70%;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 10px 2px #0085e5;
  }

  50% {
    box-shadow: 0px 0px 10px 5px #0085e5;
  }
  0% {
    box-shadow: 0px 0px 10px 2px #0085e5;
  }
}

.contact-button {
  background: #0085e5;
  border: 0;
  min-width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 500px;

  @media only screen and (max-width: $mobileBreakPoint) {
    display: none;
  }
}
