@use "../_variables.scss" as *;

.Toolbar {
  border: solid 1px $border-grey;
  padding: 18px;
  margin-top: 25px;
  margin-bottom: 50px;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  align-items: center;
  position: relative;

  .selected {
    font-weight: bold;
    color: white;
  }

  button {
    background: none;
    border: 0;
    padding-left: 12px;
    padding-right: 12px;
    text-transform: capitalize;
  }

  .slider {
    height: 30px;
    background: #37a0ec;
    border-radius: 2rem;
    position: absolute;
    z-index: -1;
    transition: 0.2s ease-in-out;
  }
}
