.App {
  height: 100vh;
  max-width: 1000px;
  margin:0 auto;
}

header {
  padding-top: 25px;
  padding-bottom: 50px;
  display: flex;
  h1,
  h2 {
    display: inline-block;
  }

  .chat-bubble {
    background: #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2rem;
    width: fit-content;
    min-height: 38.5px;
  }
}
