* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased; /* For WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* For Firefox */
  font-smooth: always;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  webkit-appearance: none;
}
html {
  background-color: #fcfcfc;
}

a{
color: inherit;
}

.text-small {
  font-size: 14px;
}

.text-medium {
  font-size: 22px;
}

.text-large {
  font-size: 30px;
}

.text-grey {
  color: #7b7b7b;
}

.border-grey {
  color: #e1e1e1;
}

.text-weight-bold {
  font-weight: 700;
}

.text-weight-medium {
  font-weight: 600;
}



.text-weight-thin {
  font-weight: 300;
}
