* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fafafa;
}

.text-small {
  font-size: 16px;
}

.text-medium {
  font-size: 20px;
}

.text-large {
  font-size: 30px;
}

.text-grey {
  color: #7b7b7b;
}

.border-grey {
  color: #e1e1e1;
}

