* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased; /* For WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* For Firefox */
  font-smooth: always;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  -webkit-appearance: none;
}
html {
  background-color: #fcfcfc;
}

a {
  color: inherit;
}

li {
  list-style-position: inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Radley", serif;
}

.page-wrap {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;

  img{
    width: 100%;
    margin-bottom: 25px;
  }
}

.project-title {
  margin-bottom: 25px;
}

.content-block {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 25px;
  }
}

.final {
  width: 100%;
  margin-bottom: 50px;
 
}


